<div class="header">
    <button type="button" class="btn-close" (click)="onExit()">
        <span class="icon-cross"></span>
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="row">
    <div class="imageCont">
        <div class="main-image-cont">
            <img class="main-image" [src]="imagePath" alt="">
        </div>
        <div class="column-btns">
            <div class="updateImage" *ngIf="this.ownersUserId == this.userId">
                <button (click)="updateImage(this.imageId)" class="button-17 update">Update Image</button>
            </div>
            <div class="imageEditor">
                <button (click)="imageEditor(this.imagePath)" class="button-17 edit">Edit Image</button>
            </div>
            <div class="trash" *ngIf="this.ownersUserId == this.userId">
                <button (click)="deleteImage()" class="button-17 delete"><mat-icon>delete</mat-icon></button>
            </div>
        </div>
    </div>

    <div class="commentTrash">
        <div class="commentCont">
            <h1><b>Comments</b></h1>
            <div class="border"></div>
            <div class="comment-list">
                <ng-container *ngIf="comments.length > 0; else noComments">
                    <ng-container *ngFor="let name of comments">
                        <div class="single-comment">
                            <div class="top-row">
                                <h4 class="name">
                                    {{name.user_fname}}
                                    {{name.user_lname}}
                                </h4>

                                <span class="date-text">
                                    {{name.comment_date | date:'medium'}}
                                </span>
                                <span (click)="deleteComment(name.comment_id)" class="delete-comment-btn"
                                    *ngIf="name.user_id == this.userId"><mat-icon
                                        class="delete-comment">delete</mat-icon></span>
                            </div>
                            <!-- <h4>{{name.user_fname}} {{name.user_lname}} {{name.comment_date | date:'medium'}}</h4> -->
                            <p class="message">{{name.messages}}</p>
                        </div>
                        <div class="border-special"></div>
                    </ng-container>
                </ng-container>
                <ng-template #noComments>
                    <p>
                        Be the first one to comment!
                    </p>
                </ng-template>
            </div>
            <div class="commentBox">
                <form [formGroup]="commentForm" (ngSubmit)="onSubmit()" class="form">
                    <textarea formControlName="comment" placeholder="Type your comment here!"></textarea>
                    <button type="submit" [disabled]="!commentForm.valid" class="comment"><mat-icon>send</mat-icon></button>
                </form>
            </div>

        </div>
    </div>
</div>