<div class="file-upload-container">
    <div class="close-pstn">
        <button type="button" class="btn-close" (click)="onExit()">
            <span class="icon-cross"></span>
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="container-left">
        <div>
            <p class="dropzone-text">Drop Files Here or Click to Upload</p>
            <div cdkDropList class="dropzone" (cdkDropListDropped)="onDrop($event)">
                <div class="upload-btn-wrapper">
                    <button class="button-17 btn-upload">Upload a file</button>
                    <input type="file" id="fileInput" (change)="onFileChanged($event)" name="myfile">
                    <small class="upload-note">* Only image files (jpg, png, webp...) are allowed.</small>
                </div>
            </div>
        </div>
        <div class="selected-files filelist">
            <h6>Selected File:</h6>
            <ul class="list">
                <li title="{{ file.name }}" *ngFor="let file of myFiles; let i = index" class="file">
                    <div class="file-name-container">
                        <p class="file-name">{{ file.name }}</p>
                    </div>
                    <button (click)="deleteFile(i)" class="button-6"><mat-icon>delete</mat-icon></button>
                </li>
            </ul>
        </div>

        <div class="upload-btn-wrapper">
            <button mat-raised-button color="primary" (click)="onUpdate()" [disabled]="myFiles.length === 0"
                class="button-17 btn">
                <mat-icon>cloud_upload</mat-icon>
                Update
            </button>
        </div>
    </div>

    <div class="container-right">
        <h1 *ngIf="myFiles.length === 0" class="image-preview-text">Image Preview Here</h1>
        <div class="file-preview-container" *ngIf="myFiles.length === 1">
            <img class="image-preview" [src]="filePreview" alt="File Preview" />
        </div>
    </div>

</div>